<h4>Task(s)</h4>

<div class="container">
    <div class="left--box">
        <ul>
            <!-- <div class="task" *ngFor="let item of items" >
                <input type="checkbox" name="" id="" *ngIf="item.isComplete" checked>
                <input type="checkbox" name="" id="" *ngIf="!item.isComplete" (checked)="item.completeTask()" >
                <li *ngIf="item.isComplete" style="text-decoration: line-through;">{{item.text}}</li>
                <li *ngIf="!item.isComplete">{{item.text}}</li>
            </div> -->
            @for(item of toDos; track $index){
                @if(item.done){
                    <div class="task">
                        <input type="checkbox" (click)="toggle($index)" [checked]="item.done">
                        <s>{{item.title}}</s>
                    </div>
                    
                }
                @else {
                    <div class="task" >
                        <input type="checkbox" (click)="toggle($index)" [checked]="item.done">
                        <p>{{item.title}}</p>
                    </div>
                    
                }

            }
        </ul>
    </div>

    <div class="right--box">
        <h4>Add new task</h4>
    
        title: <input  #text>
        <input type="button" value="Add task" (click)="addItem(text.value)">
        
    </div>
    
</div>

<style>
    .task{
        display: flex;
        flex-direction: row;
    }
</style>