<div class="task--list">
    

    <div class="container">
        <div class="left--box">
            <h4>Task(s)</h4>
                @for(item of toDos; track $index){
                    @if(item.done){
                        <div class="task">
                            <input type="checkbox" (click)="toggle($index)" [checked]="item.done">
                            <s>{{item.title}}</s>
                        </div>
                        
                    }
                    @else {
                        <div class="task" >
                            <input type="checkbox" (click)="toggle($index)" [checked]="item.done">
                            <p>{{item.title}}</p>
                        </div>
                        
                    }
    
                }
        </div>
    
        <div class="right--box">
            <div class="addTask">
                <h4>Add new task</h4>
                title: <input  #text class="input">
                <input type="button" value="Add task" class="addButton" (click)="addItem(text.value)">
            </div>
            
        </div>
        
    </div>
</div>



<style>
    .container{
        display: flex;
        flex-direction:  row;
        width: 100%;
        justify-content: space-between;
    }

    .left--box{
        border: 1px solid black;
        width: 65%;
        text-align: center;
    }

    .right--box{
        border: 1px solid black;
        float: right;
        width: 25%;
        text-align: center;

    }

    .task--list{
        display: flex;
        flex-direction: row;
    }
    .stat {
        float: right;
        width: 0%;
    }
    .addTask{
        display: flex;
        flex-direction: column;

    }

    .input{
        border-radius: 5px;
    }

    .addButton{
        margin-top: 10px;
        border-radius: 10px;
    }
</style>